<p><span style="text-decoration: underline;">Привет</span> Это ПРОБНЫЙ&nbsp;<em>Текст</em></p>
<p><em>Таблица - Химический состав марки </em><strong>20Х13</strong></p>
<table style="height: 57px;" width="317">
<tbody>
<tr style="height: 59px;">
<td style="width: 72.25px; height: 59px; text-align: center;">Элемент</td>
<td style="width: 72.25px; height: 59px; text-align: center;">С</td>
<td style="width: 72.25px; height: 59px; text-align: center;">Cr</td>
<td style="width: 72.25px; height: 59px; text-align: center;">Si</td>
</tr>
<tr style="height: 59px;">
<td style="width: 72.25px; height: 59px; text-align: center;">
<p>предел</p>
<p>низ</p>
</td>
<td style="width: 72.25px; height: 59px; text-align: center;">0.15</td>
<td style="width: 72.25px; height: 59px; text-align: center;">12.5</td>
<td style="width: 72.25px; height: 59px; text-align: center;">0.20</td>
</tr>
<tr style="height: 62.375px;">
<td style="width: 72.25px; height: 62.375px; text-align: center;">
<p>предел</p>
<p>верх</p>
</td>
<td style="width: 72.25px; height: 62.375px; text-align: center;">0.25</td>
<td style="width: 72.25px; height: 62.375px; text-align: center;">13.5</td>
<td style="width: 72.25px; height: 62.375px; text-align: center;">0.45</td>
</tr>
</tbody>
</table>